version: "3.8"

services:
  camiones-db:
    image: postgres:16-alpine
    container_name: camiones_db
    environment:
      POSTGRES_DB: camionesdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - tpi_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_camiones
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - camiones-db
    networks:
      - tpi_network

volumes:
  postgres_data:

networks:
  tpi_network:
    driver: bridge
