server:
  port: 8080

spring:
  application:
    name: ms-camiones
  
  datasource:
    url: jdbc:postgresql://camiones-db:5432/camiones
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tpi-backend

geoapi:
  url: http://geoapi:8080

logging:
  level:
    root: INFO
    ar.edu.utn.frc.backend.grupo114: DEBUG
    org.springframework.security: DEBUG
